@model EntityFrameworkDatabaseFirst.MProduct

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MProduct</h4>
    <hr />
    <dl class="dl-horizontal button">
        <dt>
            @Html.DisplayNameFor(model => model.ProductID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProdcutQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProdcutQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductIamge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductIamge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "PrdoucstPage")
</p>
