@model IEnumerable<EntityFrameworkDatabaseFirst.MProduct>

@{
    ViewBag.Title = "PrdouctsPage";
}

<h2>PrdouctsPage</h2>

<p>
    @Html.ActionLink("Create new product", "Create")
</p>
<table class="table button">
    <tr>
        <th>
            Product Name
        </th>
        <th>
            Quantity
        </th>
        <th>
            Price
        </th>
        <th>
            Date
        </th>
        <th>
            Image
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProductName)
        </td>
        <td style="text-align:center;">
            @Html.DisplayFor(modelItem => item.ProdcutQuantity)
        </td>
        <td>
            <span class="badge" style="font-size:1.15em;">$</span> @Html.DisplayFor(modelItem => item.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductDate)
        </td>
        <td>
            <img class="imgH" src="@Html.DisplayFor(modelItem => item.ProductIamge)" style="height:60px;width:100px;"/>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProductID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProductID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProductID })
        </td>
    </tr>
}

</table>
